xmpp.host=lobstermonster.org
xmpp.port=5275
xmpp.subdomain=comptest
xmpp.secretkey=2255998899442277

server.domain=xmpp.lobstermonster.org
server.domain.topics=topics.lobstermonster.org

xmpp.stanza.max-size	= 64000